<a href="https://colab.research.google.com/github/thlavlu/BRACU/blob/master/Drive_xlsx_file_to_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

file_id = '1Sv4ib5i7CKWhAHZkKg-uitIkS3xwxtXM'
downloaded = drive.CreateFile({'id': file_id})

In [ ]:
# Download the file to a local disk as 'exported.xlsx'.
downloaded.GetContentFile('exported.xlsx')

In [ ]:
# Here it is --
!ls -lha exported.xlsx

-rw-r--r-- 1 root root 3.6K Nov 22 17:29 exported.xlsx

In [ ]:
# Now, we can use pandas read_excel after installing the excel importer.
!pip install -q xlrd

import pandas as pd
df = pd.read_excel('exported.xlsx')
df

   1  2  3  4
0  5  6  7  8